#cabecera {
    display:block;
}

#logo {
    width:"150px";
    height:"100px";
}

#menu {
    display: inline;
}

#titulo_gray {
    color: grey;
}
#links{
    background: #ff6200;
    height:400px;
}
#links img{
    width: 117px;
    height: 97px;
}
.col p, h3{
    color: #ffffff;
    width: 330px;
}
.col{
    padding-top: 100px;
    font-family: Montserrat, sans-serif;
    width: 10%;
    float: left;
    padding-left: 357px;

}
#links p, a{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none

}
#copyright{
    color: #ffffff;
    padding: 15px;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
}
#copy-info{
    background-color: #828282;
    font-size: 11px;
    color: #fff;
    padding: 24px 0;
    font-family: Montserrat, sans-serif;
    
}
.footer-nav{
    text-transform: uppercase;
    padding-left: 0;
    list-style: none;
}
ul.footer-nav li{
    display: block;
    padding-bottom: 16px;
}
#information{
    padding: 5px;
    float: right;
    font-size: 11px;
}
#header{
    padding-left: 365px;
}
.menu{
    color:gray
}